extends layout

block content
    section.breadcrumbs_block.clearfix.parallax
        .container.center
            h2(style='color:#000000')
                b= header
            p(style='color:#000000')= landHeader
    section#blog
        .container
            .row
                .blog_block.col-lg-9.col-md-9.padbot50
                    .single_blog_post.clearfix(data-animated='fadeInUp')
                        .single_blog_post_descr
                        .single_blog_post_content
                            br
                            table.table
                                h2 Демонтаж
                                tr
                                    th
                                        b Стены
                                    th
                                        b Бел. Руб
                                    th
                                        b за м2 / м.п.
                                tr
                                    td Демонтаж обшивки стен из фанеры, ОСБ
                                    td 10
                                    td шт.
                                tr
                                    td Демонтаж перегородок из ГКЛ
                                    td 6
                                    td за м2
                    hr
                    .sidepanel.widget_text
                        h3
                            a(href='/Prays_rabochiy.xlsx')
                                b Скачать
                            |&nbsp;прайс-лист на услуги в EXCEL таблице